<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title data-testid="title-map">Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapCanvas class="map-canvas"></div>
</ion-content>
